---
layout: default
title: Map
custom_css: leaflet
custom_js: leaflet
---

<!--link for map locations: http://www.openstreetmap.org-->

<section id="one" >
    <div class="container">
            <article>
                <header>
                  <h3>Map</h3>
                    {% if page.custom_js %}
                      {% for js_file in page.custom_js %}
                      <script src='../leaflet/{{ js_file }}.js' type="text/javascript"></script>
                      {% endfor %}
                  {% endif %}

                  {% if page.custom_css %}
                      {% for stylesheet in page.custom_css %}
                      <link rel="stylesheet" href="../leaflet/{{ stylesheet }}.css" media="screen" type="text/css">
                      {% endfor %}
                  {% endif %}
                </header>
                <section id="two">
                    <div id="map" class="map leaflet-container" style="height: 500px; position:relative;"></div>
                    <script>
                    // create the map object and set the cooridnates of the initial view:
                    var map = L.map('map').setView([46.2, 6.14], 2);

                    // create the tile layer with correct attribution:
                    L.tileLayer('http://{s}.tiles.mapbox.com/v3/jamesg87.goac2bf1/{z}/{x}/{y}.png', {
                        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
                        maxZoom: 18
                    }).addTo(map);
                    // this is how you add markers to map with text pop up.
                    //////////////////////////////////
                    // 104
                    //////////////////////////////////
                    L.marker([46.233867, 6.0525579]).addTo(map)
                      .bindPopup('104 stoepwiches')
                      .openPopup();
                    //post = site.posts[2]
                    //////////////////////////////////
                    // brokeback clusaz
                    //////////////////////////////////
                    L.marker([45.904029, 6.423479]).addTo(map)
                      .bindPopup("Brokeback Mountain Baguettes")//<a href="{{ site.baseurl }}{{ site.posts[2].url }}">{{ site.posts[2].title }}</a>)
                      .openPopup();
                    //////////////////////////////////
                    // la joux
                    //////////////////////////////////
                    L.marker([45.964793, 6.9091411]).addTo(map)
                        .bindPopup("Scraped knees and Cheese")
                        .openPopup();
                    ///////////////////////////////////
                    // la tour / refuge albert
                    ///////////////////////////////////
                    L.marker([45.9966027, 6.9865859]).addTo(map)
                        .bindPopup("La (Re)Tour")
                        .openPopup();
                    ///////////////////////////////////
                    // gervasutti beauty
                    ///////////////////////////////////
                    L.marker([ 45.8759394, 7.0132543]).addTo(map)
                        .bindPopup("Gervasutti Beautti")
                        .openPopup();
                    ///////////////////////////////////
                    // cascade engagement
                    ///////////////////////////////////
                    L.marker([48.8616632,-121.6537997]).addTo(map)
                        .bindPopup("Cascade Engagement")
                        .openPopup();

                    </script>

                </section>
